<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		block title
			title Project title
		link(rel="icon", href="assets/images/favicon.png")
		link(rel="stylesheet", href="assets/css/style.css")
	body

		block content

		script(src="assets/js/vendor.js")
		script(src="assets/js/scripts.js")
