@mixin wh($width: false, $height: false) {
	$width: unquote($width);
	@if $height != none { 
		$height: unquote($height);
		}
	@if $height != false {
		width: #{$width};
		height: #{$height};
		}
	@else {
		width: #{$width};
		height: #{$width};
		}
	}

@mixin fs($fsz, $lh) {
	font-size: $fsz;
	line-height: $lh;
	}

@mixin antialiased() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}

@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
		}
		&:after {
			clear: both;
			}
	}
