@import 'nib'
global-reset()

@import 'utils/_vars'
@import 'utils/_fonts'
@import 'utils/_mixins'
@import 'utils/_dev'
@import 'utils/_index'

.test
	ellipsis()
	hide-text()
	size 10px
	fixed top left
	