$png-fb = 132px 0px -132px 0px 66px 66px 198px 67px '../images/png-ico.png';
$png-in = 0px 0px 0px 0px 66px 67px 198px 67px '../images/png-ico.png';
$png-twi = 66px 0px -66px 0px 66px 67px 198px 67px '../images/png-ico.png';
