antialiased()
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

fs(fs, lh)
	font-size fs
	line-height lh
	
r(deg)
	transform rotate(deg)

/* sprite */
sprite($sprite)
	$width = $sprite[4]
	$height = $sprite[5]
	$bgi = $sprite[8]
	
	size $sprite[4] $sprite[5]
	background url($bgi) no-repeat $sprite[2] $sprite[3]
