<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Project title
	link(rel="icon", href="assets/images/favicon.png")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans:400&amp;subset=latin,cyrillic")
	link(rel="stylesheet", href="assets/css/style.css")
body.index-page
	.index
		h1.index__t Project title

		ul.index__l
			li
				i 01.
				a(href="01-index.html") First page
			li
				i 02.
				span Second page

		//- .index__side
		//- 	.index__desc
		//- 		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi magnam fugit, nostrum assumenda hic itaque amet, in aspernatur tempora voluptatem blanditiis ipsam ad nisi, quia quam ducimus, tempore nobis sequi!

		//- 	ul.index__links
		//- 		li
		//- 			a(href="#") GitHub Page
		//- 		li
		//- 			a(href="#") Download
		//- 		li.index__links__minor
		//- 			a(href="#") Download (minor)
